@tailwind base;
@tailwind components;
@tailwind utilities;

.vinyl-disc {
  @apply bg-black border-neutral-600 border shadow-lg overflow-hidden relative;

  background: repeating-radial-gradient(
    circle,
    #000000 0%,
    #000000 1%,
    #101010 1%,
    #101010 2%
  );

  /* Add shine */
  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.08) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: screen;
    border-radius: 50%;
    pointer-events: none;
  }
}
